*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-color:#222831;
    overflow-x: hidden;
}
nav{
    color: white;
}
hr{
    color: gray;
}
.navbar-toggler {
    border-color: white !important; 
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  /* Frame 6 */

/* Auto layout */
/* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 586px;
height: 287px;
left: 180px;
top: 334px;
 */

 .hero .text-blue {
    color: #33b2c6;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero .text-blue {
    color: #33b2c6;
}
.btn-custom {
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
}
.btn-primary-custom {
    background-color: #33b2c6;
    border: none;
}
.btn-dark-custom {
    background-color: #252a34;
    color: white;
}
.btn-dark-custom:hover {
    background-color: #333a47;
}
.hero img {
    max-width: 100%;
    height: auto;
    display: block;
}
